.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  padding: 2rem;
}

.form {
  width: 100%;
  max-width: 600px;
  margin: 2rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.formRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: calc(50% - 1rem);
}

.formGroup label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  font-family: 'Open Sans', sans-serif;
}

.input {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
  transition: background-color 0.2s ease;
  font-family: 'Open Sans', sans-serif;
}

.input:focus {
  background-color: #fff;
  border-color: #0077cc;
  box-shadow: 0 0 0 2px #0077cc;
}

.btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #0077cc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  background-color: #0066b3;
}

.btn:active {
  transform: translateY(1px);
}

  