.dashboardContainer {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 1rem;
}


.dashboardCard {
  background-color: #8cb8e6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.dashboardCard:hover {
  transform: translateY(-5px);
}

.dashboardCard h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.dashboardCard p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #fff;
}

.dashboardCard img {
  height: 120px;
  margin-bottom: 1rem;
}

.dashboardCard a {
  background-color: #94d0cc;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
}

.dashboardCard a:hover {
  background-color: #f2a7a0;
}

.cardContainer:nth-child(odd) .dashboardCard:nth-child(odd) {
  background-color: #f6d994;
}

.cardContainer:nth-child(odd) .dashboardCard:nth-child(odd) a {
  background-color: #f2a7a0;
}

.cardContainer:nth-child(even) .dashboardCard:nth-child(even) {
  background-color: #f6d994;
}

.cardContainer:nth-child(even) .dashboardCard:nth-child(even) a {
  background-color: #f2a7a0;
}
